@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


/* styles.css */
.navbar-container {
    background-color: #ff0000;
    padding: 16px 32px;
  }
  
  .navbar-logo {
    height: 48px;
  }
  
  .navbar-link {
    color: #ffffff;
    font-weight: bold;
    position: relative;
  }
  
  .navbar-link:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    left: 100%; /* Move to the right side of the parent */
    top: 0;
    margin-left: 8px; /* Adjust as necessary */
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    border-radius: 4px;
    z-index: 10;
  }
  
  .submenu a {
    display: block;
    padding: 8px 0;
    color: #000000;
    text-decoration: none;
  }
  
  .submenu a:hover {
    text-decoration: underline;
  }
  

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .shadow-xl {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .bg-red-600 {
    background-color: #dc2626;
  }
  
  .hover\:bg-red-700:hover {
    background-color: #b91c1c;
  }
  
  .transition {
    transition: all 0.3s ease-in-out;
  }
  
  .duration-300 {
    transition-duration: 300ms;
  }
  